@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&family=Neucha&display=swap');


* {
    padding: 0;
    margin: 0;
}

h2 {
    font-family: 'Manrope', sans-serif;
    color: var(--orange);
}

h3 {
    font-family: 'Neucha', cursive;

}

p {
    font-family: 'Manrope', sans-serif;
}

.Jheader {
    height: 40vw;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/book-background.jpeg");
    /*to align the image properly*/
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    text-align: center;
}

.logo-header {
    width: 50px;
    float: left;
    margin-top: 8px;
}

/*sign in and sign up buttons*/
.login-btn {
    width: 100px;
    outline: none !important;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 50px;
    background-color: transparent;
    color: rgb(0, 0, 0);
    float: right;
    padding: 2px;
    margin-top: 10px;
}

.Jheader p {
    margin-left: 150px;
    margin-right: 150px;
    font-size: 28px;
    color: rgb(255, 255, 255);
    font-family: 'Signika Negative', sans-serif;
    line-height: 1.1;
}

/*The Menubar*/
#navbarMenu {
    height: 40px;
    padding: 0px;
    margin: 0px;
}

.bg-2 {
    background-color: #d9dce3;
    /* Dark Blue */
    color: #000000;
}

.margin {
    margin-bottom: 45px;
}

.item {
    display: inline-flex;
    width: auto;
    height: 250px;
}

.my3 {
    position: relative;
    top: -70px;

    left: 50px;
}

.contact-Border {
    border: 1px solid #eaf0f6;
}

/* NewsLetter Section*/
subscription-content {
    -webkit-transform: skewY(-1deg);
    transform: skewY(-1deg);
}

.subscription.bg-white .form-control {
    border: 1px solid #ebebeb !important;
}

.subscription-wrapper .form-control {
    height: 60px;
    background: rgba(255, 255, 255, 0.1);

}

.subscription-wrapper .form-control:focus {
    background: rgba(255, 255, 255, 0.1);
    outline: 0;
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

/*for the Login Form */
.btn-color {
    background-color: #0e1c36;
    color: #fff;
}

.profile-image-pic {
    height: 200px;
    width: 200px;
    object-fit: cover;
}

.cardbody-color {
    background-color: #ebf2fa;
}

a {
    text-decoration: none;
}

/*TESTIMONIALS SECTION*/
.home-testimonial {
    background-color: #231834;
    height: 380px
}

.home-testimonial-bottom {
    background-color: #f8f8f8;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 20px;
    margin-bottom: 0px;
    position: relative;
    height: 130px;
    top: 190px
}

.home-testimonial h3 {
    color: var(--orange);
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
}

.home-testimonial h2 {
    color: white;
    font-size: 28px;
    font-weight: 700;
}

.testimonial-inner {
    position: relative;
    top: -174px;
}

.testimonial-pos {
    position: relative;
    top: 24px;
}

.testimonial-inner .tour-desc {
    border-radius: 5px;
    padding: 40px
}

.color-grey-3 {
    font-family: "Montserrat", Sans-serif;
    font-size: 14px;
    color: #6c83a2
}

.testimonial-inner img.tm-people {
    width: 60px;
    height: 60px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -o-object-fit: cover;
    object-fit: cover;
    max-width: none
}

.link-name {
    font-family: "Montserrat", Sans-serif;
    font-size: 14px;
    color: #6c83a2
}

.link-position {
    font-family: "Montserrat", Sans-serif;
    font-size: 12px;
    color: #6c83a2
}